h1 {
    font-family: var(--fuenteTitulo);
    color: var(--colorbaseClaro);
    text-align: center;
}


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 99vw;
    height: 99vh;
    background-color: var(--colorbaseClaro);
    min-width: 971px;
    min-height: 403px;
}



.ocultar {
    display: none;
}

    header {
        position: fixed;
        width: 100%;
        z-index: 10;
        height: 100px;
        background-color: var(--colorTerciario);
        flex-direction: column;
        flex-wrap: wrap;
        min-width: 971px;
        font-family: var(--textoNormal);
       

    }




        header .contenedorBuscar{
            position: absolute;
            left: calc(100%/2 - 500px/2);
            top: calc(100%/2 - 60px/2);
            width: 500px;
            height: 60px;
            display: flex;
            align-items: center;
            
        }

            header .contenedorBuscar img{
                height: 50px;
                width: 70px;
                transform: scaleX(-1);
            }

            header .contenedorBuscar input{
                box-sizing: content-box;
                height: 30px;
                padding: 10px;
                width: calc( 100% - 70px);
                background: transparent;
                border: none;
                border-bottom: 3px solid var(--colorbaseClaro);
                outline: none;
                color: var(--colorbaseClaro);
                font-size: 1.3em;
                font-family: var(--textoNormal);
            }

            header .contenedorBuscar input::placeholder{
                color: var(--colorbaseClaro);
            }

 
        header .contenedorSesionUsuario{
            position: relative;
            float: left;
            left: 25px; 
            height: 60px;
            top: calc(100%/2 - 80px/2);
        }

            header .contenedorSesionUsuario #datoSesionUsuario{
                text-align: center;
                color: #ffffff;
                margin: 10px;
            }
            header .contenedorSesionUsuario button{
                display: block;
                height: 30px;   
                margin-left: auto;
                margin-right: auto;
                background-color: transparent;
                transition: all .3s;
                border: none;
               
            }

            header .contenedorSesionUsuario button:hover{
                transform: scale(1.2);
            }

            header .contenedorSesionUsuario button:active{
                transform: scale(1);
            }
        

                header .contenedorSesionUsuario button img{
                    width: 100%;
                    height: 100%;
                }

    main{
        position: absolute;
        top: 100px;
        width: 100%;
        height: calc(100vh - 100px);
        display: flex;
        flex-direction: column;
        
    }

        main #detallePelicula{
            position: absolute;
            width: 100%;
            height: 100%;
           
            position: absolute;
            z-index: 2;
        }

        main #listaPeliculas{
            position: absolute;
            width: 100%;
            height: 50%;
            z-index: 10;
            top: 50%;

        }
     